extends ./template.pug

block content
    
    .container
        table.table.table-hover.table-striped.cms_table
            thead
                tr.news_create_tr
                    td(colspan="6").text-right.news_create_td
                        button.btn.btn-warning.news_btn_create 新增
                tr
                    th 編號
                    th 標題
                    th 內容
                    th 圖片
                    th 編輯
                    th 刪除
            tbody
                //- tr
                //-     th(scope='row') 1
                //-     td Mark
                //-     td Otto
                //-     td Otto
                //-     td
                //-         button.btn.btn-primary(type='button' data-type="edit" data-role="page") 編輯
                //-     td
                //-         button.btn.btn-danger(type='button' data-type="delete") 刪除
                
                if(news)
                    each newsElement,index in news
                        tr
                            th(scope='row') #{index+1}
                            td=newsElement.news_title
                            td=newsElement.news_content
                            td.news_img
                                img(src=newsElement.news_img)
                            td
                                button.btn.btn-primary.news_btn_update(type='button' data-type="edit" data-id=newsElement._id value=index) 編輯
                            td.news_delete
                                a(href="cms_news/"+newsElement._id+"/remove", title="title") 
                                    button.btn.btn-danger(type='button' data-type="delete") 刪除
        form.news_update_form(action="/cms_news" method="post" enctype="multipart/form-data")
            table.table.table-hover.table-striped.cms_edit
                thead
                    tr
                        th.text-centeralign-middle 標題
                        td.news_update_title 
                            input(type="text" name="news_title" value=news[0].news_title)
                    tr
                        th.text-centeralign-middle.align-middle 內容
                        td.news_update_content
                            textarea(name="news_content", cols="30", rows="10" val="").align-middle
                    tr
                        th.text-centeralign-middle 圖片
                        td.news_update_img
                            img(src="", alt="")
                            input(type="file" name="news_img")
                    tr
                        td
                        td.text-right
                            button.btn.btn-cansel(type='button' data-type="cancel") 取消編輯
                            button.btn.btn-success.news_btn_submit(type='submit' data-type="confirm") 確定

                
    //- nav
    //-     .logo
    //-     ul.nav_ul
    //-         li.nav_li 最新消息